<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body style="font-family: Arial, Helvetica, sans-serif;">

#parse("mail/_header.vm")

#if($action == 'Auto-approved')
  <p>
    A leave request has been submitted on your behalf. It has been auto-approved as per school policy.
  </p>
#elseif($action == 'Submitted')
  <p>Your leave request has been submitted successfully.</p>
#elseif($action == 'APPROVE')
    <p>Your leave request has been approved.</p>
#elseif($action == 'REJECT')
    <p>Your leave request has been rejected.</p>
#end

<p>
  <b>Leave :</b> $leave.leaveType.name<br/>
  <b>From:</b> $leave.startDate<br/>
  <b>Total Days:</b> $leave.totalDays<br/>
  <b>Status:</b> $leave.status
</p>

#if($leave.comments)
  <p>
    <b>Comments:</b><br/>
    $leave.comments
  </p>
#end

#parse("mail/_signature.vm")

</body>
</html>
