Dear Parents,
This is to confirm the successful enrollment of $studentName#if($className) in Class $className#end at Tulip English School.
We look forward to a pleasant association.

Tulip English School
